footer{
    background-color: #232233;
    position: relative;
    .contain{
        .top{
            background-color: rgb(253, 253, 253);
            position: absolute;
            top: -50px;
            display: flex;
            justify-content: space-around;
            width: 80%;
            box-shadow: 0 0 10px grey;
            border-radius: 20px;
            .fifty{
                width: 49% inherit;
                align-items: center;
                padding: 30px 0;
                display: flex;
                gap: 20px;
                img{
                    width: 50px;
                }
                &__a{
                    font-weight: 600;
                }
            }
            .border1{
                height: 50px;
                border-left: 2px solid #E6E6E6;
                margin: 30px -40px;
            }
        }
        .main{
            color: white;
            padding-top: 140px;
            padding-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .left{
                width: 40%;
                &__p{
                    font-size: 13px;
                }
                span{
                    padding-right: 12px;
                }
                span> i:hover{
                    color:#FEB918;
                }
            }
            .center{
                width: 23%;
                font-size: 14px;
                line-height: 24px;
            }
            .right{
                width: 35%;
                font-size: 14px;
                line-height: 24px;
                b{
                    font-size: 16px;
                }
                &__input{
                    line-height: 25px;
                    align-items: center;
                    background-color: white;
                    padding: 0;
                    border-radius: 5px;
                    margin-top: 10px;
                    img{
                        width: 34px;
                        height: 100%;
                        margin-left: auto;
                    }
                    input{
                        width: calc(100% - 38px);
                        padding: 0 5px;
                        border-radius: 5px;
                        border: none;
                    }
                }
            }
            ul{
                padding-left: 0;
                margin-top: 0;
            }
        }
        &__p{
            width: 100%;
            color: white;
            margin-bottom: 0;
            margin-top: 30px;
            padding-bottom: 30px;
            text-align: center;
            border-top: 1px solid white;
            font-size: 12px;
            padding-top: 20px;
        }
    }
}

@media(max-width:600px){
    footer{
        .contain{
            width: 96%;
            .top{
                width: 96%;
            }
        }
    }
}
@media(max-width:500px){
    footer{
        margin-top: 50px;
        .contain{
            .top{
                flex-wrap: wrap;
                top: -100px;
                .fifty{
                    width: 220px;
                    margin: 0 auto;
                    text-align: center;
                }
                .border1{
                    display: none;
                }
            }
            .main{
                .left, .center, .right{
                    width: 90%;
                    margin: 10px auto;
                }
            }
        }
    }
}